<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password List</title>
</head>
<body>
<h1>EncryptedPassword List</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>EncryptedContent</th>
        <th>Algorithm</th>
        <th>Iterations</th>
        <th>hashType</th>
    </tr>
    <tr th:each="password : ${encryptedPasswords}">
        <td th:text="${password.id}"></td>
        <td th:text="${password.encryptedContent}"></td>
        <td th:text="${password.encryptionAlgorithm?.name}"></td>
        <td th:text="${password.iterations}"></td>
        <td th:text="${password.hashType}"></td>
    </tr>
</table>
</body>
</html>